### This file is managed by Ansible, don't edit it manually. ###

[SeatDefaults]
    greeter-show-manual-login = true
    greeter-hide-users        = true
    allow-guest               = false
    greeter-setup-script      = /usr/local/sbin/logon init
    session-setup-script      = /usr/local/sbin/logon logon
    session-cleanup-script    = /usr/local/sbin/logon logoff

