### This file is managed by Ansible, don't edit it manually. ###

[SeatDefaults]
    greeter-show-manual-login = true
    greeter-hide-users        = true
    allow-guest               = false
# Modification temporaire qui sera à terme supprimer (c'est pour éviter de gérer les maj de logon dans le partage netlogon-linux)
    greeter-setup-script      = /usr/local/sbin/logon initialisation
    session-setup-script      = /usr/local/sbin/logon ouverture
    session-cleanup-script    = /usr/local/sbin/logon fermeture
#    greeter-setup-script      = {{ role_dm_local_se4_repository }}/logon initialisation
#    session-setup-script      = {{ role_dm_local_se4_repository }}/logon ouverture
#    session-cleanup-script    = {{ role_dm_local_se4_repository }}/logon fermeture
