#!/bin/sh

# This file is managed by Ansible. Don't edit manually.

exec >> /tmp/log 2>&1
set -x
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

STAGE="$1"

echo "$STAGE"
env
echo

case "$STAGE" in

    init)
		rm -rf --one-file-system "/home/toto"
		rm -f /tmp/krb5cc_*
        exit 0
    ;;

    logon)
        mkdir "/home/$USER"
        chown "$USER:" "/home/$USER"
        chmod -R 700 "/home/$USER"
	
		# On récupère le nom de fichier du ticket Kerberos de toto.
		KRB5CCNAME=$(find /tmp/ -maxdepth 1 -mindepth 1 -type f -name 'krb5cc_*' -user root)
	
		# En phase logon, le fichier des credentials 'krb5cc_*' est mémorié temporairement par pam_krb5.so sous le format 'krb5cc_pam_xxxx' en root
		# avant d'être renommé plus tard en 'krb5cc_UID_xxxx' avec l'utilisateur loggué comme propriétaire
		# Or, pour que le montage se passe bien avec mount.cifs, il faut que l'utilisateur loggué soit propriétaire du fichier 'krb5cc_*' ...
		# On va donc mettre temporairement l'utilisateur loggué propriétaire du fichier 'krb5cc_pam_xxxx' puis, une fois le montage de fait,
		# on remet root propriétaire de ce fichier (utilisé par le module pam_krb5.so) 
		chown "toto:" "$KRB5CCNAME"        

		KRB5CCNAME="$KRB5CCNAME" mount.cifs //{{ role_dm_samba_fqdn }}/myhome /mnt/ \
		-o username="$USER",domain={{ role_dm_samba_domain }},sec=krb5i,cruid="$USER"

		chown "root:root" "$KRB5CCNAME"

    exit 0
    ;;

    logoff)
    exit 0
    ;;

    *)
        exit 1
    ;;

esac


